@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("jodit/build/jodit.min.css");

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.shadow-custom {
    /* Adjust the shadow values as needed */
    box-shadow: 0 4px 6px -1px rgb(0, 15, 39), 0 2px 4px -1px rgb(59, 131, 246);
  }
  