.intro{
    display: flex;
    flex-direction: column;
    margin: 50px 500px;
    gap: 10px;
    color: red;
}
.intro span{
    font-size: 20px;
    color: black;
}
.login-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 50%;
    margin: 15px auto;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}
.form-cont{
    padding: 80px;
    
}
.form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.form label{
    font-size: large;
}
.form-cont input{
    padding: 10px;
    width: 300px;
    height: 15px;
    outline: none;
    border: 1px solid black;
    font-size: medium;
    border-radius: 5px;
}
.pw{
    margin: 0 auto;
    color: rgb(63, 63, 150);
    font-size: medium;
    cursor: pointer;
}
.login-btn{
    width: 325px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-size: medium;
    margin: 10px auto;
}
.login-text{
    display: flex;
    justify-content: center;
    margin: 25px auto;
    gap: 5px;
}
.login-text span{
    color: red;
    cursor: pointer;
}
.login-btn:hover{
    background-color: rgb(35, 197, 35);
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(35, 197, 35);
    transition: .2s;
}
.login-text span:hover{
    text-decoration: underline;
    transition: .2s;
}
.pw:hover{
    text-decoration: underline;
    transition: .2s;
}
.auth-footer{
    display: flex;
    margin: 20px 500px;
    gap: 20px;
}
.footer1 {
    display: flex;
    cursor: pointer;
    gap: 5px;
}
.footer1 span{
    color: rgb(63, 63, 150);
}
.footer2 {
    display: flex; 
}
.footer1 span:hover{
    text-decoration: underline;
}

