.login-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}
.form-cont{
    display: flex;
   flex-direction: column;
   gap: 20px;
    
}
.form-cont input{
    display: flex;
   
}
