.nav-bar{
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px solid black;
    
}
.nav-content {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}
.search-bar input{
    height:30px ;
    width: 15rem;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}
.navigation{
    display: flex;
    gap: 40px;
    
}
.nav-bar a {
    color: inherit;
    text-decoration: none;
  }